
body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: black;
	background-image: url('../back.png'), url('../back.png');
	background-position: right center, left center;
	background-repeat: repeat-y, repeat-y;
   }
#main-info-container {
	background-color: white;
}
.navbar .container {
	background-color: steelblue;
}
#header-nav {
	border: 0;
	border-radius: 0;
	background-color: steelblue;
	color: white;
}
#coatofarms {
	background: url("../Emblem_of_Crimea.svg.png") no-repeat;
	background-size: cover;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand h1 {
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top: 0px;
}
.navbar-brand p {
	color: white;
	font-weight: 200;
	font-size: 0.8em;
}

#nav-list {
	margin-top: 20px;
}

#nav-list a {
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 0.8em;
}

#nav-list a:hover, #nav-list a:focus {
	color: midnightblue;
}

#nav-list a span {
	font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid white;
}

.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus {
	background-color: deepskyblue;
}

.navbar-header button.navbar-toggle {
	margin-top: -45px;
	clear: both;
}

#header-nav {
	margin-bottom: 0px;
}

@media (min-width: 768px) {
	.container #main-info p {
	margin-top: 20px;
	font-size: 1.16em;
}
#coatofarms {
	height: 70px;
	width: 60px;
	margin: 20px 20px 20px 0px;
}

.container .row h2 {
	font-size: 3.8em;
	text-align: center;
}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0;
}

#main-page-jumbo {
	padding-top: 20px;
	padding-bottom: 25px;
}

#info-thumb {
	text-align: center;
	border: 0px;
}

#info-cap {
	color: steelblue;
}

#info-cap h3 {
	margin: 0px;
}

#main-info-container {
	color: steelblue;
	font-weight: 300;
	height: 100%;
}

/* Footer */
.footer {
	background-color: steelblue;
	color: white;
}
  /* End Footer */

#main-info-container h2 {
	font-weight: 700;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: steelblue;
}

@media (max-width: 767px) {
	body {
		background: white;
	}
	.jumbotron {
		padding: 0px;
		margin-top: 0px;
	}
	.container .row h2 {
	font-size: 6vw;
	text-align: center;
	}
	.navbar-brand {
		padding-top: 15px;
		height: 60px;
	}
	.navbar-brand h1 {
		font-size: 1.2em;
	}
	.navbar-brand p {
		font-size: .75em;
	}
	#collapsable-nav a {
		font-size: 1em;
	}
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	.container #main-info p {
	margin-top: 20px;
	font-size: 0.7em;
	}
	#coatofarms {
	height: 50px;
	width: 43px;
	margin: 10px 10px 10px 10px;
	}
}

@media (min-width: 1200px) {
	.jumbotron {
		background: url("Crimean-landscape-1200.png") no-repeat;
	}
	body {
		background-size: calc((100% - 1170px)/2), calc((100% - 1170px)/2);
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.jumbotron {
		background: url("Crimean-landscape-992.png") no-repeat;
	}
	body {
		background-size: calc((100% - 970px)/2), calc((100% - 970px)/2);
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.jumbotron {
		background: url("Crimean-landscape-768.png") no-repeat;
	}
	body {
		background-size: calc((100% - 750px)/2), calc((100% - 750px)/2);
	}
}